# backend/.env.example
TELEGRAM_BOT_TOKEN=your_bot_token_here
TELEGRAM_OWNER_ID=your_telegram_id_here
EMAIL_USER=shadowlurkers229@gmail.com
EMAIL_PASS=vbjrnxynwwpcxbxe
FRONTEND_URL=https://your-frontend.onrender.com
NODE_ENV=production
